{% extends "layout.html" %}

{% block title %}
    Add Data
{% endblock %}

{% block main %}
    <form action="/adddata" method="post">
        <div class="form-group row">
        <label for="playername" class="col-sm-2 col-form-label">Player Name</label>
        <div class="col-sm-10">
            <input name="playername" type="text" class="form-control" id="playername" placeholder="Player Name">
        </div>
        </div>
        <div class="form-group row">
        <label for="playerdob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
            <input name="playerdob" type="date" class="form-control" id="playerdob" placeholder="Age">
        </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-10">
                <input name="position" type="text" class="form-control" id="position" placeholder="Postition">
            </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Tries</label>
            <div class="col-sm-10">
                <input name="tries" type="number" class="form-control" id="position" placeholder="Tries">
            </div>
        </div>
        <div class="form-group row">
            <label for="caps" class="col-sm-2 col-form-label">Caps</label>
            <div class="col-sm-10">
                <input name="caps" type="number" class="form-control" id="position" placeholder="Caps">
            </div>
        </div>
        <fieldset class="form-group">
        <div class="row">
            <label for="caps" class="col-sm-2 col-form-label">Injury Status</label>
            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select name="injurystatus" id="inputState" class="form-control">
                  <option selected disabled>Injury Status</option>
                  <option>Injured</option>
                  <option>Not Injured</option>
                </select>
              </div>
        </div>
        </fieldset>
        <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Player Info</button>
        </div>
        </div>
    </form>
    <form action="adddata.html" method="get">
        <fieldset class="form-group">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputState"></label>
                    <select name="selectplayer" id="inputState" class="form-control">
                      <option selected disabled>Select Player</option>
                      {% for player in players %}
                      <option>{{ player[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
            </div>
            </fieldset>
            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Select Player to Edit</button>
            </div>
            </div>
    </form>
{% endblock %}