{% extends "layout.html" %}

{% block title %}
    Add Data
{% endblock %}

{% block main %}
    <form action="/adddata" method="post">
        <div class="form-group row">
        <label for="playername" class="col-sm-2 col-form-label">Player Name</label>
        <div class="col-sm-10">
            <input name="playername" type="text" class="form-control" id="playername" placeholder="Player Name">
        </div>
        </div>
        <div class="form-group row">
        <label for="playerdob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
            <input name="playerdob" type="date" class="form-control" id="playerdob" placeholder="Age">
        </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-10">
                <input name="position" type="text" class="form-control" id="position" placeholder="Postition">
            </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Tries</label>
            <div class="col-sm-10">
                <input name="tries" type="number" class="form-control" id="position" placeholder="Tries">
            </div>
        </div>
        <div class="form-group row">
            <label for="caps" class="col-sm-2 col-form-label">Caps</label>
            <div class="col-sm-10">
                <input name="caps" type="number" class="form-control" id="position" placeholder="Caps">
            </div>
        </div>
        <fieldset class="form-group">
        <div class="row">
            <label for="caps" class="col-sm-2 col-form-label">Injury Status</label>
            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select name="injurystatus" id="inputState" class="form-control">
                  <option selected disabled>Injury Status</option>
                  <option>Injured</option>
                  <option>Not Injured</option>
                </select>
              </div>
        </div>
        </fieldset>
        <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Player Info</button>
        </div>
        </div>
    </form>
    <form action="/editdata" method="post">
        <fieldset class="form-group">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputState"></label>
                    <select name="selectplayer" id="inputState" class="form-control">
                      <option selected disabled>Select Player</option>
                      {% for player in players %}
                      <option>{{ player[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
            </div>
            </fieldset>
            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Select Player to Edit</button>
            </div>
            </div>
    </form>
    <form action="/addmatch" method="post">
        <div class="form-group row">
        <label for="opposition" class="col-sm-2 col-form-label">Opposition</label>
        <div class="col-sm-10">
            <input name="opposition" type="text" class="form-control" id="opposition" placeholder="Opposition">
        </div>
        </div>
        <div class="form-group row">
        <label for="venue" class="col-sm-2 col-form-label">Venue</label>
        <div class="col-sm-10">
            <input name="venue" type="text" class="form-control" id="venue" placeholder="Venue">
        </div>
        </div>
        <div class="form-group row">
            <label for="competition" class="col-sm-2 col-form-label">Competition</label>
            <div class="col-sm-10">
                <input name="competition" type="text" class="form-control" id="competition" placeholder="Competition">
            </div>
        </div>
        <div class="form-group row">
            <label for="stage" class="col-sm-2 col-form-label">Stage</label>
            <div class="col-sm-10">
                <input name="stage" type="text" class="form-control" id="stage" placeholder="Stage">
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input name="date" type="date" class="form-control" id="date" placeholder="Date">
            </div>
        </div>
        <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Match Report</button>
        </div>
        </div>
    </form>
{% endblock %}