{% extends "layout.html" %}

{% block title %}
    Add Data
{% endblock %}

{% block main %}
<details>
    <summary>Add New Player to Database</summary>
    <form action="/adddata" method="post">
        <div class="form-group row">
        <label for="playername" class="col-sm-2 col-form-label">Player Name</label>
        <div class="col-sm-10">
            <input name="playername" type="text" class="form-control" id="playername" placeholder="Player Name">
        </div>
        </div>
        <div class="form-group row">
        <label for="playerdob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
            <input name="playerdob" type="date" class="form-control" id="playerdob" placeholder="Age">
        </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-10">
                <input name="position" type="text" class="form-control" id="position" placeholder="Postition">
            </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-sm-2 col-form-label">Tries</label>
            <div class="col-sm-10">
                <input name="tries" type="number" class="form-control" id="position" placeholder="Tries">
            </div>
        </div>
        <div class="form-group row">
            <label for="caps" class="col-sm-2 col-form-label">Caps</label>
            <div class="col-sm-10">
                <input name="caps" type="number" class="form-control" id="position" placeholder="Caps">
            </div>
        </div>
        <fieldset class="form-group">
        <div class="row">
            <label for="caps" class="col-sm-2 col-form-label">Injury Status</label>
            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select name="injurystatus" id="inputState" class="form-control">
                  <option selected disabled>Injury Status</option>
                  <option>Injured</option>
                  <option>Not Injured</option>
                </select>
              </div>
        </div>
        </fieldset>
        <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Player Info</button>
        </div>
        </div>
    </form>
</details>
<details>
    <summary>Edit Existing Player</summary>
    <form action="/editdata" method="post">
        <fieldset class="form-group">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputState"></label>
                    <select name="selectplayer" id="inputState" class="form-control">
                      <option selected disabled>Select Player</option>
                      {% for player in players %}
                      <option>{{ player[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
            </div>
            </fieldset>
            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Select Player to Edit</button>
            </div>
            </div>
    </form>
</details>
<details>
    <summary>Add New Match Report</summary>
    <form action="/addmatch" method="post">
        <div class="form-group row">
        <label for="opposition" class="col-sm-2 col-form-label">Opposition</label>
        <div class="col-sm-10">
            <input name="opposition" type="text" class="form-control" id="opposition" placeholder="Opposition">
        </div>
        </div>
        <div class="form-group row">
        <label for="venue" class="col-sm-2 col-form-label">Venue</label>
        <div class="col-sm-10">
            <input name="venue" type="text" class="form-control" id="venue" placeholder="Venue">
        </div>
        </div>
        <div class="form-group row">
            <label for="competition" class="col-sm-2 col-form-label">Competition</label>
            <div class="col-sm-10">
                <input name="competition" type="text" class="form-control" id="competition" placeholder="Competition">
            </div>
        </div>
        <div class="form-group row">
            <label for="stage" class="col-sm-2 col-form-label">Stage</label>
            <div class="col-sm-10">
                <input name="stage" type="text" class="form-control" id="stage" placeholder="Stage">
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input name="date" type="date" class="form-control" id="date" placeholder="Date">
            </div>
        </div>
        <div class="form-group row">
            <label for="munsterscore" class="col-sm-2 col-form-label">Munster Score</label>
            <div class="col-sm-10">
                <input name="munsterscore" type="number" class="form-control" id="munsterscore" placeholder="Score">
            </div>
        </div>
        <div class="form-group row">
            <label for="oppositionscore" class="col-sm-2 col-form-label">Opposition Score</label>
            <div class="col-sm-10">
                <input name="oppositionscore" type="number" class="form-control" id="munsterscore" placeholder="Score">
            </div>
        </div>
        <details>
            <summary>Add Match Team</summary>
            <details class="teamdetails">
                <summary>Starting 15</summary>
                <details class="teamdetails">
                    <summary>Forwards</summary>
                    <label id="teamselect" for="looseheadprop" id="starter">Loosehead Prop:</label>
                    <select name="looseheadprop">
                        <option selected disabled>Select Player</option>
                        {% for prop in props %}
                            <option>{{ prop[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="hooker" id="starter">Hooker:</label>
                    <select name="hooker">
                        <option selected disabled>Select Player</option>
                        {% for hooker in hookers %}
                            <option>{{ hooker[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="tightheadprop" id="starter">Tighthead Prop:</label>
                    <select name ="tightheadprop">
                        <option selected disabled>Select Player</option>
                        {% for prop in props %}
                            <option>{{ prop[0] }}</option>
                        {% endfor %}
                    </select name="looseheadlock">
                    <label id="teamselect" for="looseheadlock" id="starter">Loosehead Lock:</label>
                    <select name="looseheadlock">
                        <option selected disabled>Select Player</option>
                        {% for lock in locks %}
                            <option>{{ lock[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="tightheadlock" id="starter">Tighthead Lock:</label>
                    <select name="tightheadlock">
                        <option selected disabled>Select Player</option>
                        {% for lock in locks %}
                            <option>{{ lock[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="blindsideflanker" id="starter">Blindside Flanker:</label>
                    <select name="blindsideflanker">
                        <option selected disabled>Select Player</option>
                        {% for backrow in backrows %}
                            <option>{{ backrow[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="opensideflanker" id="starter">Openside Flanker:</label>
                    <select name="opensideflanker">
                        <option selected disabled>Select Player</option>
                        {% for backrow in backrows %}
                            <option>{{ backrow[0] }}</option>
                        {% endfor %}
                    </select>
                    <label id="teamselect" for="numbereight" id="starter">Number Eight:</label>
                    <select name="numbereight">
                        <option selected disabled>Select Player</option>
                        {% for backrow in backrows %}
                            <option>{{ backrow[0] }}</option>
                        {% endfor %}
                    </select>
                </details>
                <details class="teamdetails">
                    <summary>Backs</summary>
                    <label for="scrumhalf" id="starter">Scrum Half:</label>
                    <select name="scrumhalf">
                        <option selected disabled>Select Player</option>
                        {% for scrumhalf in scrumhalfs %}
                            <option>{{ scrumhalf[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="flyhalf" id="starter">Fly Half:</label>
                    <select name="flyhalf">
                        <option selected disabled>Select Player</option>
                        {% for flyhalf in flyhalfs %}
                            <option>{{ flyhalf[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="leftwing" id="starter">Left Wing:</label>
                    <select name="leftwing">
                        <option selected disabled>Select Player</option>
                        {% for backthree in backthrees %}
                            <option>{{ backthree[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="insidecentre" id="starter">Inside Centre:</label>
                    <select name="insidecentre">
                        <option selected disabled>Select Player</option>
                        {% for centre in centres %}
                            <option>{{ centre[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="outsidecentre" id="starter">Outside Centre:</label>
                    <select name="outsidecentre">
                        <option selected disabled>Select Player</option>
                        {% for centre in centres %}
                            <option>{{ centre[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="rightwing" id="starter">Right Wing:</label>
                    <select name="rightwing">
                        <option selected disabled>Select Player</option>
                        {% for backthree in backthrees %}
                            <option>{{ backthree[0] }}</option>
                        {% endfor %}
                    </select>
                    <label for="fullback" id="starter">Fullback:</label>
                    <select name="fullback">
                        <option selected disabled>Select Player</option>
                        {% for backthree in backthrees %}
                            <option>{{ backthree[0] }}</option>
                        {% endfor %}
                    </select>
                </details>
            </details>
            <details class="teamdetails">
                <summary>Bench</summary>
                <label for="bench16" id="bench">16:</label>
                <select name="bench16">
                    <option selected disabled>Select Player</option>
                    {% for benchforward in benchforwards %}
                        <option>{{ benchforward[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench17" id="bench">17:</label>
                <select name="bench17">
                    <option selected disabled>Select Player</option>
                    {% for benchforward in benchforwards %}
                        <option>{{ benchforward[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench18" id="bench">18:</label>
                <select name="bench18">
                    <option selected disabled>Select Player</option>
                    {% for benchforward in benchforwards %}
                        <option>{{ benchforward[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench19" id="bench">19:</label>
                <select name="bench19">
                    <option selected disabled>Select Player</option>
                    {% for benchforward in benchforwards %}
                        <option>{{ benchforward[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench20" id="bench">20:</label>
                <select name="bench20">
                    <option selected disabled>Select Player</option>
                    {% for player in players %}
                        <option>{{ player[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench21" id="bench">21:</label>
                <select name="bench21">
                    <option selected disabled>Select Player</option>
                    {% for player in players %}
                        <option>{{ player[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench22" id="bench">22:</label>
                <select name="bench22">
                    <option selected disabled>Select Player</option>
                    {% for benchback in benchbacks %}
                        <option>{{ benchback[0] }}</option>
                    {% endfor %}
                </select>
                <label for="bench23" id="bench">23:</label>
                <select name="bench23">
                    <option selected disabled>Select Player</option>
                    {% for player in players %}
                        <option>{{ player[0] }}</option>
                    {% endfor %}
                </select>
            </details>
        </details>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Match Report</button>
            </div>
        </div>
    </form>
</details>
{% endblock %}