<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    function updateOtherSelects(select) {
      var selectedValue = select.value;
      var selects = document.querySelectorAll('select');
      selects.forEach(function(otherSelect) {
        if (otherSelect !== select) {
          var options = otherSelect.options;
          for (var i = 0; i < options.length; i++) {
            options[i].disabled = false;
          }
          var selectedOption = otherSelect.querySelector('option[value="' + selectedValue + '"]');
          if (selectedOption) {
            selectedOption.disabled = true;
          }
        }
      });
    }
  </script>
  <title>Munster Stats: {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body id="bootstrap-override">
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light">
        <a id="button" class="navbar-brand" href="/">Munster Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="navbar-text" class="nav-link" href="/playerbase">Player Base</a>
            </li>
            <li class="nav-item">
              <a id="navbar-text" class="nav-link" href="/matchreports">Match Reports</a>
            </li>
            <li class="nav-item">
              <a id="navbar-text" class="nav-link" href="/injuryreports">Injury Reports</a>
            </li>
            <li class="nav-item">
                <a id="navbar-text" class="nav-link" href="/contracts">Contracts</a>
            </li>
            <li class="nav-item">
              <a id="navbar-text" class="nav-link" href="/adddata">Add Data</a>
          </li>
          </ul>
        </div>
      </nav>
<main>
  {% block main %}{% endblock %}
</main>
</body>
</html>