{% extends "layout.html" %}

{% block title %}
    Match Reports
{% endblock %}

{% block main %}
    {% for match in matches %} 
        <h1>{{ match[0] }}</h1>
        <h2>{{ match[1] }}</h2>
        <h3>{{ match[2] }}</h3>
        <h4>{{ match[3] }}</h4>
        <h4>{{ match[4] }}</h4>
        <h5>Munster {{ match[5] }} - {{ match[6] }} {{ match[0] }}</h5>
        <detail>
            <summary>Starting Team</summary>
            <ol>
            {% for player in match[5:20] %}
            <li>{{ player }}</li>
            {% endfor %}
            </ol>
        </detail>
        <detail>
            <summary>Bench</summary>
            <ol start="16">
                {% for player in match[20:30] %}
                <li>{{ player }}</li>
                {% endfor %}
            </ol>
        </detail>
    {% endfor %} 
{% endblock %}